.navbar {
  height: 80px;
  width: 99, 999999%;
  background-color: #333;
  border: 3px solid #f26609;
  border-radius: 2px;
}
.navbar__hideColumnBtn {
  border: 2px solid #f26609;
  border-radius: 5px;
  background-color: #333;
  color: white;
  margin: 5px;
  margin-top: 10px;
  padding: 20px;
  float: right;
}
.navbar__hideColumnBtn:hover {
  background-color: #f26609;
}
.navbar__hideCardBtn {
  border: 2px solid #f26609;
  border-radius: 5px;
  background-color: #333;
  color: white;
  margin: 5px;
  margin-top: 10px;
  padding: 20px;
  float: right;
}
.navbar__hideCardBtn:hover {
  background-color: #f26609;
}
.navbar__addColumn {
  position: absolute;

  height: 350px;
  width: 350px;
  background-color: #333;

  box-shadow: 0 0 0 4px #f26609, 0 6px 4px black;
  border-radius: 3px;
  margin: 1px;
  float: right;
}
.navbar__addColumn--header {
  color: white;
  text-align: center;
}
.navbar__addColumn--input {
  margin: 20px;
}

.navbar__addColumn--btn {
  border: 2px solid #f26609;
  border-radius: 5px;
  background-color: #333;
  color: white;
  margin: 5px;
  padding: 5px;
}

.navbar__addCard {
  height: 250px;
  width: 250px;
  border: 2px solid black;
  margin: 1px;
  float: right;
}
