.navbar-wrapper {
  height: 80px;
  width: 100%;
  background-color: cornflowerblue;
}
.btn {
  float: right;
  margin-right: 30px;
}
.colomn {
  height: 250px;
  width: 250px;
  border: 2px solid black;
  margin: 1px;
  float: right;
}

.cards {
  height: 250px;
  width: 250px;
  border: 2px solid black;
  margin: 1px;
  float: right;
}
.btn {
  float: right;
}
