.boardColumnCard {
  background-color: wheat;
  display: flex;
  justify-content: center;
  text-align: center;
}
.boardColumnCard__card {
  width: 350px;
  height: 650px;
  border: 3px solid #f26609;
  background-color: #333;
  border-radius: 5px;
  margin: 20px 10px;
}
.boardColumnCard__card--header {
  color: white;
}

.boardColumnCard__card--backpage {
  border: 2px solid #f26609;
  border-radius: 5px;
  background-color: #333;
  color: white;
  margin: 5px;
  padding: 5px;
}
.boardColumnCard__card--backpage:hover {
  background-color: #f26609;
}
